html {
  	box-sizing: border-box;
  	
}
*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
@at-root {
  @-ms-viewport { width: device-width; }
}
body {
  -ms-overflow-style: scrollbar;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
@font-face {
	font-family: 'Dax-ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: url('../font/dax-extrabold.woff') format('woff');
}
@font-face {
	font-family: 'Dax-Light';
	font-style: normal;
	font-weight: normal;
	src: url('../font/dax-light-5872dfb3692b0.woff') format('woff');
}
.font-bold {
	font-family: 'Dax-ExtraBold'!important;
}
.font-light {
	font-family: 'Dax-Light';
}
header div.blue-line {
	background-color: #3790cf;
	min-height: 10px;
	margin-bottom: 70px;
}
header h1 {
	font-family: 'Dax-ExtraBold';
	padding-top: 110px;
	padding-bottom: 110px;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 26px;
}
section.post-listing .post .post-date {
	color: #3790cf;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
}
section.post-listing .post .post-title {
	font-family: 'Dax-Light';
	font-weight: 400;
	padding-bottom: 40px;
	font-size: 45px;
}
section.post-listing .post .post-title:after {
    content:"";
    display: block;
    height: 0.5em;
    vertical-align: bottom;
    width: 90%;
    margin-top: 50px;
    margin-left: 0px;
    border-top: 1px solid #cdcdcd;
}
.third-post-type {
	margin-bottom: 80px;
}
.full-width-overlay-post { 
	min-height: 430px; 
	width: 100%;
}

.full-width-overlay-post {
	display: flex;
	justify-content: center;
    align-items: center;
}
.full-width-overlay-post .post {
	position: absolute;
	width: 40%;
	right: 10px;
	justify-content: center;
}
.full-width-overlay-post .post .post-date {
	color: #3790ce;
	font-weight: 900;
	padding-bottom: 30px;
	font-size: 35px;
}
.full-width-overlay-post .post .post-title {
	font-family: 'Dax-Light';
	font-weight: 400;
	padding-bottom: 40px;
	font-size: 45px;
}
.blue-band {
	background-color: #055994;
	min-height: 140px;
	padding: 15px 15px;
}
.blue-band .email-subscribe h3 {
	font-family: 'Dax-ExtraBold';
	font-size: 16px;
} 
.blue-band .email-subscribe P {
	font-family: 'Dax-Light';
	font-size: 12px;
}
.blue-band .input-group {
	text-align: center;
	margin: 0 auto;
}
.blue-band .form-control {
	border-radius: 0px;
	background-color: #045994;
}
.blue-band .form-control:focus {
	background-color: #fff;   
}
.blue-band .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #3790cf;
    border: 1px solid #3790cf;
    border-radius: 0px;
}
section.footer {
	padding-top: 140px;
	padding-bottom: 140px;
}
section.footer h4 {
	font-size: 20px;
}
section.footer p {
	font-size: 15px;
	font-weight: 600;
}
section.footer .form-control {
	border-radius: 0px;
}
section.footer .app-icons {
	margin-top: 40px;
	display: flex;
}
section.footer .app-icons .apple {
	border-right: 1px solid #ccc;
	margin-right: 20px;
	padding-right: 20px; 

}
section.footer ul li {
	list-style-type: none;
	font-size: 15px;
}
section.footer ul li:before {
	content: '>';
	margin-left: -40px;
	margin-right: 10px;
	color: #3790cf;
	font-size: 15px;
}
section.footer ul li a {
	color: #3790cf;
}
section.footer .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #3790cf;
    border: 1px solid #3790cf;
    border-radius: 0px;
}
section.footer .input-group {
	text-align: center;
	margin: 0 auto;
	margin-left: -15px;
}
footer.footer-links {
	background-color: #ebebeb;
}
footer .footer-links-inner {
	width: 60%;
	margin: 0 auto;
	font-size: 15px;
}
footer .footer-links-inner a {
	font-family: 'Dax-ExtraBold';
	color: #505050;
	font-weight: 600;
	letter-spacing: 1.5px;
}
footer .copyright p {
	font-family: 'Dax-Light';
	color: #959595;
	font-size: 12px;
}

.blog-details p {
	font-size: 22px;
	letter-spacing: .5px;
}
.blog-details h2 {
	font-weight: 900;
	font-size: 28px;
}
.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

/*--------------------------------------------
 Media Queries for all major breakpoints 
 ---------------------------------------------*/

@media only screen and (min-width: 240px) { 
	h2 {
	    font-size: 1.4rem;
	}
	header div.blue-line {
		background-color: #3790cf;
		margin-bottom: 20px;
	}
	header img{
		width: 200px;
	}
	header h1 {
	    padding-top: 30px;
	    padding-bottom: 30px;
	    font-size: 26px;
	} 
	section.post-listing .post .post-date {
	    color: #3790cf;
	    font-weight: 900;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    font-size: 25px;
	}
	.blue-band {
	    background-color: #055994;
	    min-height: 129px;
	    padding: 30px 15px;
	}
	.blue-band .email-subscribe h3 {
	    font-size: 16px;
	}
	section.footer {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	section.footer .app-icons {
	    margin-top: 20px;
	    margin-bottom: 20px;
	    display: flex;
	}
	footer .footer-links-inner {
	    width: 100%;
	    margin: 0 auto;
	    font-size: 15px;
	    flex-direction: column;
	    text-align: center;
	}
}

@media only screen and (min-width: 320px) {
	h2 {
	    font-size: 1.4rem;
	}
	header h1 {
	    padding-top: 50px;
	    padding-bottom: 50px;
	    font-size: 40px;
	}
	section.post-listing .post .post-date {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    font-size: 24px;
	}
	.blue-band .email-subscribe h3 {
	    font-size: 22px;
	}
	.blue-band .email-subscribe P {
	    font-size: 14px;
	}
	section.footer {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	section.footer .app-icons {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	footer .footer-links-inner {
		width: 60%;
		margin: 0 auto;
		font-size: 15px;
		flex-direction: column;
		text-align: center;
	}


}

@media only screen and (min-width: 375px) {
	header div.blue-line {
		background-color: #3790cf;
	}
}
@media only screen and (min-width: 425px) {
	header div.blue-line {
		background-color: #3790cf;
	}
}
@media only screen and (min-width: 768px) {
	header div.blue-line {
		background-color: #3790cf;
	}
	footer .footer-links-inner {
	    width: 70%;
	    margin: 0 auto;
	    font-size: 15px;
	    flex-direction: row;
	    text-align: center;
	}
}
/*-- Kindle Fire HDX --*/
@media only screen and (min-width: 800px) {

}


@media only screen and (min-width: 1024px) {
	header div.blue-line {
		background-color: #3790cf;
	}
	footer .footer-links-inner {
	    width: 60%;
	    margin: 0 auto;
	    font-size: 15px;
	    flex-direction: row;
	    text-align: center;
	}
}
@media only screen and (min-width: 1040px) {
	footer .footer-links-inner {
	    width: 60%;
	}
}
@media only screen and (min-width: 1280px) {
	footer .footer-links-inner {
	    width: 60%;
	}
}
@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 2560px) {
	footer .footer-links-inner {
	    width: 80%;
	}
}
